In [11]:
# set up
import pandas as pd 
movie_ratings = pd.read_csv('C:/Users/COMPUMARTS/OneDrive/Desktop/Elevvo Pathways ML Internship/Tasks/movie_rec_sys.data',
    sep="\t",
    names=["user_id", "movie_id", "rating", "timestamp"])

movie_ratings

       user_id  movie_id  rating  timestamp
0          196       242       3  881250949
1          186       302       3  891717742
2           22       377       1  878887116
3          244        51       2  880606923
4          166       346       1  886397596
...        ...       ...     ...        ...
99995      880       476       3  880175444
99996      716       204       5  879795543
99997      276      1090       1  874795795
99998       13       225       2  882399156
99999       12       203       3  879959583

[100000 rows x 4 columns]

In [12]:
movies = pd.read_csv('C:/Users/COMPUMARTS/OneDrive/Desktop/Elevvo Pathways ML Internship/Tasks/u.item',
    sep="|",
    encoding="latin-1",
    names=[
        "movie_id","title","release_date","video_release_date","IMDb_URL",
        "unknown","Action","Adventure","Animation","Children","Comedy","Crime",
        "Documentary","Drama","Fantasy","Film-Noir","Horror","Musical","Mystery",
        "Romance","Sci-Fi","Thriller","War","Western"
    ]
)
movies = movies[["movie_id", "title"]]
movies

      movie_id                                      title
0            1                           Toy Story (1995)
1            2                           GoldenEye (1995)
2            3                          Four Rooms (1995)
3            4                          Get Shorty (1995)
4            5                             Copycat (1995)
...        ...                                        ...
1677      1678                          Mat' i syn (1997)
1678      1679                           B. Monkey (1998)
1679      1680                       Sliding Doors (1998)
1680      1681                        You So Crazy (1994)
1681      1682  Scream of Stone (Schrei aus Stein) (1991)

[1682 rows x 2 columns]

In [13]:
movie_ratings = movie_ratings.merge(movies, on="movie_id")
movie_ratings

       user_id  movie_id  rating  timestamp                         title
0          196       242       3  881250949                  Kolya (1996)
1          186       302       3  891717742      L.A. Confidential (1997)
2           22       377       1  878887116           Heavyweights (1994)
3          244        51       2  880606923    Legends of the Fall (1994)
4          166       346       1  886397596           Jackie Brown (1997)
...        ...       ...     ...        ...                           ...
99995      880       476       3  880175444  First Wives Club, The (1996)
99996      716       204       5  879795543     Back to the Future (1985)
99997      276      1090       1  874795795                 Sliver (1993)
99998       13       225       2  882399156         101 Dalmatians (1996)
99999       12       203       3  879959583             Unforgiven (1992)

[100000 rows x 5 columns]

In [14]:
# user item matrix
user_item = movie_ratings.pivot_table(
    index="user_id",
    columns="movie_id",
    values="rating"
).fillna(0)
user_item

movie_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,0.0,0.0,0.0,2.0,0.0,0.0,4.0,5.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,5.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
# Similarity Model
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
user_similarity = cosine_similarity(user_item)
predicted_ratings = np.dot(user_similarity, user_item.values) / np.sum(user_similarity, axis=1).reshape(-1,1)

In [16]:
# The actual recommendations 
import numpy as np
def recommend_movies(user_id, k=5):
    user_index = user_id - 1
    user_predictions = predicted_ratings[user_index]

    user_rated = user_item.iloc[user_index]
    user_predictions[user_rated > 0] = 0

    top_movie_ids = np.argsort(user_predictions)[-k:][::-1]
    return movies[movies.movie_id.isin(top_movie_ids)][["movie_id","title"]]

In [ ]:
# Evaluating but with using K value 
def precision_at_k(user_id, k=5):
    recs = recommend_movies(user_id, k)
    actual = movie_ratings[(movie_ratings.user_id == user_id) & (movie_ratings.rating >= 4)].movie_id.values

    hits = sum([1 for m in recs.movie_id if m in actual])
    return hits / k

item_similarity = cosine_similarity(user_item.T)

In [18]:
# Factorization of the matrix
from sklearn.decomposition import TruncatedSVD

svd = TruncatedSVD(n_components=20)
latent = svd.fit_transform(user_item)
latent

array([[ 42.1564507 ,  -1.46291455,  -1.33595709, ...,  -0.12757513,
         -4.34707973,   3.16060662],
       [  8.98235172,  11.41574595,  11.45403985, ...,   1.22110725,
          0.87149043,  -1.37862547],
       [  3.62469291,   6.27232656,   5.089288  , ...,  -1.87312371,
         -1.33656894,   0.17184363],
       ...,
       [  4.7692106 ,   6.12612059,   1.34309208, ...,  -2.49826408,
          3.40278014,   0.41356638],
       [ 15.39518576,  -1.98222122,   4.98592825, ...,  -1.28706839,
         -0.12650023,  -1.35325214],
       [ 27.06170408,   2.67536354, -12.75403174, ...,   1.43540381,
         -3.86783758,  -3.34107503]], shape=(943, 20))